@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/velocity")
@Scripts.Render("~/bundles/hammer")
@Scripts.Render("~/bundles/muri")
@Scripts.Render("~/bundles/taskManage")
<h2>Task Manage</h2>

<div class="div-content">
    <div class="task-demo">
        @{ Html.RenderAction("ViewAll", "TaskManage"); }
    </div>
</div>